@inject SignInManager<MovieDatabaseUser> SignInManager
@model MovieDatabase.Models.ViewModels.Movie.MovieDetailsViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<h2 class="text-warning">@Model.Name</h2>

<div class="d-flex justify-content-between text-warning ">
    <h5 class="font-weight-light mb-1"><b class="font-weight-bold" style="color:orangered;">|</b> <i>@Model.ReleaseDate.ToString("dd MMMM yyyy")</i></h5>
    <h5 class="font-weight-light mb-1"><i>@Model.Rating.ToString("F1")</i> <span style="color: #ffc700; font-size:x-large">★</span> <b class="font-weight-bold" style="color:orangered;">|</b></h5>
</div>

<hr class="mt-2 mb-3" style="height:3px;border:none;background-color:orangered;" />

<div class="row text-warning">
    <div class="col-3">
        <img src="@Model.CoverImageLink" class="rounded" alt="Portrait" width="302" height="455" />
    </div>
    <div class="col-9">
        <iframe src="@Model.TrailerLink" class="rounded ml-3 border-0" width="810" height="455"></iframe>
    </div>
</div>

<hr class="mt-2 mb-3" style="height:3px;border:none;background-color:orangered;" />

<div class="text-warning font-weight-light">
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Director: <i class="font-weight-light">@Model.Director</i>
    </h4>
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Genre: <i class="font-weight-light">@Model.Genre</i>
    </h4>
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Length: <i class="font-weight-light">@Model.Length minutes</i>
    </h4>

    <p class="text-left" style="font-size:large">
        @Model.Description
    </p>
</div>

<hr class="mb-2" style="height:3px;border:none;background-color:orangered;" />

<p>
    <button class="btn btn-primary btn-dark btn-outline-warning col-12" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="font-weight-bold" style="font-size:larger">Full Cast:</span>
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body bg-dark text-warning border-warning">
        <table class="my-0 table table-striped table-borderless text-warning ">
            @foreach (var role in Model.Cast)
            {
                <tr>
                    <td><h5 class="font-weight-light mx-2">@role.Actor</h5></td>
                    <td><h5 class="font-weight-light mx-2">@role.MovieCharacter</h5></td>
                </tr>
            }
        </table>
    </div>
</div>

<hr class="mb-2" style="height:3px;border:none;background-color:orangered;" />

<partial name="_RandomReviewPartial" model="Model"/>


@if (SignInManager.IsSignedIn(User))
{
    if (Model.IsReviewedByCurrentUser)
    {
        <h4 class="text-warning text-center"><a href="/Reviews/Update/@Model.Id" class="text-warning">Update</a> or <a href="/Reviews/Delete/@Model.Id" class="text-warning">Delete</a>  your review.</h4>
    }
    else
    {
        <h4 class="text-warning text-center"><a href="/Reviews/Create/@Model.Id" class="text-warning">Review this movie</a></h4>
    }

    <hr class="mb-2" style="height:3px;border:none;background-color:orangered;" />
}

@if (User.IsInRole(GlobalConstants.adminRoleName))
{
    <div class="text-center">
        <a class="text-info text-center" style="font-size:x-large" href="/Administration/Movies/Update/@Model.Id">[UPDATE ENTRY]</a>
    </div>
}