@inject SignInManager<MovieDatabaseUser> SignInManager
@model MovieDatabase.Models.ViewModels.TVShow.TVShowDetailsViewModel

@{
    ViewData["Title"] = "TV Show Details";
}

<h2 class="text-warning">@Model.Name</h2>

<div class="d-flex justify-content-between text-warning ">
    <h5 class="font-weight-light mb-1"><b class="font-weight-bold" style="color:orangered">|</b> <i>@Model.FirstAired.ToString("dd MMMM yyyy")</i></h5>
    <h5 class="font-weight-light mb-1"><i>@Model.Rating.ToString("F1")</i> <span style="color: #ffc700; font-size:x-large">★</span> <b class="font-weight-bold" style="color:orangered">|</b></h5>
</div>

<hr class="mt-2 mb-3" style="height:3px;border:none;background-color:orangered;" />

<div class="row text-warning">
    <div class="col-3">
        <img src="@Model.CoverImageLink" class="rounded" alt="Portrait" width="302" height="455" />
    </div>
    <div class="col-9">
        <iframe src="@Model.TrailerLink" class="rounded ml-3 border-0" width="810" height="455"></iframe>
    </div>
</div>

<hr class="mt-2 mb-3" style="height:3px;border:none;background-color:orangered;" />

<div class="text-warning font-weight-light">
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Creator: <i class="font-weight-light">@Model.Creator</i>
    </h4>
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Genre: <i class="font-weight-light">@Model.Genre</i>
    </h4>
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Seasons:
        <i class="font-weight-light">
            @foreach (var season in Model.Seasons)
            {
                <a href="/TVShows/SeasonDetails/@season.Key" style="font-size:larger" class="text-warning mx-1">@season.Value</a>
            }
        </i>
    </h4>
    <h4 class="text-left font-weight-bold" style="font-size:large">
        Episodes: <i class="font-weight-light">@Model.Episodes</i>
    </h4>

    <p class="text-left" style="font-size:large">
        @Model.Description
    </p>
</div>

<hr class="mb-2" style="height:3px;border:none;background-color:orangered;" />
