@model List<MovieDatabase.Models.ViewModels.Watchlist.WatchlistAllViewModel>

@{
    ViewData["Title"] = "Watchlist";
}

@{
    var currentQuery = HttpUtility.UrlEncode(@Context.Request.QueryString.ToString());
    var currentAction = HttpUtility.UrlEncode(@Context.Request.Path.ToString());
}

<h1 class="text-warning text-center display-4 mb-4">Your Watchlist</h1>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr style="height:3px;border:none;background-color:orangered;" />
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="d-flex justify-content-between">
                <h2><a href="/@item.Category/Details/@item.Id" class="text-warning">@item.Name (@item.ReleaseDate.ToString("dd MMMM yyyy"))</a></h2>
                <a href="/Watchlist/Remove/?id=@item.Id&returnAction=@currentAction&returnQuery=@currentQuery" class="btn btn-group-vertical btn-outline-warning" role="button" aria-pressed="true">Remove</a>
            </div>
            <h3 class="text-warning font-italic font-weight-light">| Rating: @item.Rating.ToString("F1") |</h3>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <a href="/@item.Category/Details/@item.Id" class="col-3"><img class="rounded" src="@item.CoverImageLink" height="310" width="210"></a>
                <p class="col-9 font-weight-light text-warning" style="font-size:x-large">@item.Description</p>
            </div>

            <hr class="" style="height:3px;border:none;background-color:orangered;" />
        </div>
        <div class="col-1"></div>
    </div>
}
