@model List<MovieDatabase.Models.ViewModels.Announcement.AnnouncementViewModel>

@{
    ViewData["Title"] = "All Announcements";
}

@foreach (var announcement in Model)
{
    <h3><a href="@announcement.OfficialArticleLink" class="text-warning">@announcement.Title</a></h3>
    <h6 class="text-warning font-italic mt-2 mb-3">
        | @announcement.Date.ToString("dddd, dd MMMM yyyy") | by @announcement.Creator | 
    </h6>
    <div class="row">
        <div class="col-2">
            <a href="@announcement.OfficialArticleLink"><img class="rounded" src="@announcement.ImageLink" height="295" width="200"></a>
        </div>
        <div class="col-10">
            <p class="font-weight-light text-warning ml-4" style="font-size: larger">@announcement.Content</p>
            <a class="text-warning font-weight-bold ml-4" href="@announcement.OfficialArticleLink">See original article >></a>
        </div>
    </div>
    <br />
}
